.plot-row {
    display: block;
}

.plot-container {
    top: 0;
}

.card-title
{
    color:black;
}
.dashboardRow.col-md-4.card {
    background-color: white !important;
}
.card
{
    background-color: white !important;
    background: white !important;
}
